
.header {
    width: 100%;
    height: auto;
    background-color: white;
}
.navbar-nav .nav-link {
  font-family: 'Philosopher' , serif;

}

.custom-text  {
  font-family: 'Philosopher' , serif;
  text-decoration: none;
  color: #000; 
  font-size: 2vw; 
  font-weight: bold;
}
.custom-text:hover {
  color: #000; 
}

.navbar-nav .nav-link {
  font-family: 'Philosopher' , serif;
  color: #000; 
  font-size: 1.5vw;
}

.navbar-toggler-icon {
  font-size: 3vw;
}


.navbar-nav .nav-link :hover {
  color: #000;
}

.icon {
  font-size: 2vw;
}
.small-text {
  font-family: 'Philosopher' , serif;
  font-size: 2vw; /* 適切なサイズに調整してください */
  margin-left: 1%;
}


 /* 携帯画面用スタイル（例：画面幅が 768px 以下） */
 @media (max-width: 768px) {
    .navbar-brand {
      font-size: 3vw;
    }
    .navbar-nav .nav-link {
      font-family: 'Philosopher' , serif;
      font-size: 3vw;
    }
  }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
