.carousel-inner {
    color: black;
    font-family: 'Philosopher' , serif;
}

.carousel-item {
    font-family: 'Philosopher' , serif;
}

.newpost {
    font-family: 'Philosopher' , serif;
}