main {
  font-family: 'Philosopher', serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  width: 80vw; /* コンテナの幅を調整 */
  height: 90vh;
  margin: auto;
  margin-top: 5%; /* 上部のマージンを調整 */
  padding: 5%; /* 内部のパディングを追加 */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* コンテナの背景色を変更 */
}

.error {
  color: #e74c3c; /* エラーメッセージの色を変更 */
  font-weight: bold; /* エラーメッセージを太字にする */
}

#title {
  font-size: 1.5vw;
}

#content {
  font-size: 1.5vw;
}

label {
  display: block;
  color: #333; /* ラベルのテキスト色を変更 */
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 垂直方向に中央揃え */
}

.file-input label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"],
textarea {
  width: calc(100% - 16px); /* テキストエリアの幅を調整 */
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* テキストエリアのボーダーを追加 */
  border-radius: 4px;
}

textarea {
  height: 60%;
}

.file-input input {
  display: none;
}

.file-input i {
  font-size: 1.5vw;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.file-input:hover i {
  color: #333;
}

.submit-button {
  text-align: right;
}

.submit-button button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.submit-button i {
  font-size: 1.5vw;
  border: none;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.submit-button:hover i {
  color: #333;
}
