.carousel-inner {
    color: black;
    font-family: 'Philosopher' , serif;
}

.carousel-item {
    font-family: 'Philosopher' , serif;
}

.carousel-caption h2 {
  font-size: 3vw; /* 画面幅に対する相対的なサイズ */
  /* 他のスタイルも適用できる */
}
.carousel-caption h5  {
  font-size: 2vw;
}


/* app/assets/stylesheets/application.css */
.btn-container {
  text-align: center;
  margin-top: 40px; /* 上部のマージン */
  margin-bottom: 40px; /* 下部のマージン */
}

.btn-custom {
  font-family: 'Philosopher', serif;
  font-size: 3vw;
  background-color: #fff; /* 白 */
  color: #5a5a5a; /* 黒 */
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  color: #000000; /* ホバー時の文字色 */
}


.newpost {
    font-family: 'Philosopher' , serif;
    text-align: left;
}

.post-item {
  margin-left: 4%;
  margin-right: 4%;
}

.title {
  text-align: left;
  margin-left: 4%;
  font-size: 1.25vw;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin-left: 4%;
  margin-right: 4%;
}

.img-thumbnail {
  margin-left: 4%;
}

.body {
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 0.5vw;
}

.link-container {
  text-align: center;
  margin-top: 1em; /* 適切な余白を設定してください */
}

.view-link {
  /* 必要に応じてスタイルを追加してください */
}


  



  /* 携帯画面用スタイル（画面幅：768px 以下） */
  @media (max-width: 768px) {
    .h2 {
      font-size: 20%; 
    }
    .h5 {
      font-size: 10%;
    }
  }
  