.main {
  font-family: 'Philosopher' , serif;
}

.show {
  margin-top: 5%;
  padding-top: 5%;
}

p {
  color: #e7e5e5;
}

/* インディケーターのボタン */
.carousel-indicators button {
  width: 2%; /* ボタンの幅を画面幅の2%に調整 */
  height: 2%; /* ボタンの高さを画面幅の2%に調整 */
  margin: 0 1%; /* ボタン同士のマージン */
  background-color: #888; /* ボタンの色 */
  border: none;
  opacity: 0.7; /* 初期状態の透明度 */
  transition: opacity 0.3s ease; /* インディケーターの透明度の変化をアニメーション化 */
}
.carousel-indicators button.active {
  background-color: #555; /* アクティブ時のボタンの色 */
  opacity: 1; /* アクティブ時の透明度 */
}


#carouselExampleCaptions {
  max-width: 90%; 
  height: auto;
  margin: auto; 
  margin-top: 5%;
  position: relative; 
  text-align: center; 
}


.carousel-caption {
  font-family: 'Philosopher', serif;
  font-size: 2vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5); /* 黒のRGB値と透明度を指定 */
  padding-top: 3%;
}

.carousel-item {
  font-family: 'Philosopher' , serif;
  font-size: 2vw;
}

.carousel-inner {
    color: black;
}

.btn-container {
  text-align: center;
  margin-top: 5%; 
  margin-bottom: 5%;
}

.btn-custom {
  font-family: 'Philosopher', serif;
  font-size: 3vw;
  background-color: #fff; /* 白 */
  color: #5a5a5a; /* 黒 */
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  color: #000000; /* ホバー時の文字色 */
}


.newpost {
    font-family: 'Philosopher' , serif;
    text-align: left;
}

.post-item {
  margin-left: 4%;
  margin-right: 4%;
}

.title {
  text-align: left;
  margin-left: 4%;
  font-size: 1.25vw;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin-left: 4%;
  margin-right: 4%;
}

.img-thumbnail {
  margin-left: 4%;
}

.body {
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 0.5vw;
}

.link-container {
  text-align: center;
  margin-top: 1em; 
}

/* styles.css */

.post {
  width: 80%;
  margin: 3% auto;
  padding: 3%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2%;
  color: #555;
}

.user-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1vw; 
}
.user-avatar {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  object-fit: cover;
}

#avatar {
  margin-right: 2vw; 
}
#avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  margin-left: 1.5%; 
  font-size: 3.3vw;
}

.content-col {
  padding-left: 20px; 
}

.text-center {
  text-align: center;
  font-size: 4vw;
}

.text-left {
  text-align: left;
  font-size: 4vw;
}

h2 {
  color: #e7e5e5;
}

.h3 {
  color: #424242;
}

.responsive-image {
  width: 100%; /* 画面幅に対して100% */
  height: auto; /* アスペクト比を維持しつつ幅に合わせて変化 */
}

.time-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  color: #555;
  font-size: 12px;
}

.view-link {
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

.view-link:hover {
  text-decoration: underline;
}

.no-posts {
  color: #333;
  font-style: italic;
}


  /* 携帯画面用スタイル */
@media screen and (max-width: 768px) {
  #carouselExampleCaptions {
    margin-top: 80px;
  }
  .carousel-caption h2 {
    font-size: 5vw; 
  }
  .carousel-caption p {
    font-size: 2vw; 
  }
  
  .user-details {
    align-items: flex-start;
  }

  .user-avatar {
    margin-bottom: 10px;
  }

  .username {
    margin-left: 0;
  }
}

  
