/* style.css */
/* style.css */

body {
    font-family: 'Philosopher', serif;
  }
  
  main {
    text-align: center;
    margin-top: 10%; /* 上部に余白を設ける */
  }
  
  .alert {
    margin-top: 20px; /* 上部に余白を設ける */
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .btn-success {
    margin-top: 10%;
    background-color: rgb(255, 254, 254); /* カーソルが来た時のボタンの色は灰 */
    color: rgb(0, 0, 0); /* カーソルが来た時の文字の色は白 */
    border: 1px solid grey;
  }

  .btn-success:hover {
  background-color: rgb(59, 59, 59); /* カーソルが来た時のボタンの色は灰 */
  color: white; /* カーソルが来た時の文字の色は白 */
}